@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    /* background-color: hsl(13, 100%, 72%); */
    border-bottom-left-radius: 120px;
}

.second-header {
    background-color: transparent;
    width: 100%;
    border-bottom-left-radius: 120px;
    background-image: url(../assets/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 2800px;
    background-position-y: -1170px;
    background-position-x: -380px;
}

h1,h2,h3 {
    font-family: "Overpass", serif;
    font-weight: 600;
}

.blog {
    color: white;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 150px;
    padding-right: 150px;
    gap: 50px;
}

.menu-list-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 350px;
    padding-top: 10px;
}

.menu-list {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 14px;
    font-family: "Ubuntu", serif;
    padding-top: 10px;
    /* font-family: "Overpass", serif; */

}

.menu-list a{
    text-decoration: none;
    color: white;
    opacity: 0.65;
    /* color: rgb(241, 234, 234); */
    
}

.menu-btn {
    display: flex;
    gap: 20px;
}

.login-btn {
    background: none;
    /* background-color: hsl(355, 100%, 74%); */
    padding: 10px;
    border: none;
    border-radius: 20px;
    /* width: 120px; */
    color: white;
    /* color: rgb(240, 233, 233); */
    opacity: 0.65;
    font-weight: 600;
    font-family: "Ubuntu", serif;
}

.sign-btn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 120px;
    background-color: white;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    font-family: "Ubuntu", serif;
}

.sign-btn:hover {
    cursor: pointer;
    background-color: hsl(13, 100%, 72%);
    color: white;
}
 
.links {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

img {
    height: 7px;
    margin-top: 3px;
}

.links:hover .arrow {
    
    cursor: pointer;
    transform: scaleY(-1);
}

.links a:hover {
    color: white;
    opacity: 1;
    border-bottom: 1.5px solid white;
}

.dropdown {
    line-height: 2;
    padding-top: 20px;
    padding-left: 20px;
    height: 120px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    display: none;
}

.links:hover .dropdown {
    display: block;
}


.menu2 {
    list-style: none;
}


.sub-div {
    width: 100%;
    height: 850px;
    background-color: white;
    background-image: url(../assets/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-y: 40px;
    background-position-x: 700px;
}



.intro {
    font-size: 52px;
    color: white;

}

.intro-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.sub-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header {
    margin-top: 120px;
    font-size: 30px;
    color: hsl(206.34deg 35.65% 22.55%);
}

.text {
    padding-bottom: 22px;
    font-size: 25px;
    color: hsl(206.34deg 35.65% 22.55%);
}

.first-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: left;
    padding-top: 70px;
    padding-left: 150px;
}

.sub-intro {
    color: white;
    font-size: 20px;
    opacity: 0.65;
    padding-top: 10px;
    padding-bottom: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.start-btn {
    width: 10%;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: hsl(353, 100%, 62%);
    font-weight: 700;
    font-family: "Ubuntu", serif;
}

.start-btn:hover {
    cursor: pointer;
    background-color: hsl(13, 100%, 72%);
    color: white;
}

.learn-btn {
    width: 10%;
    padding: 12px;
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-family: "Ubuntu", serif;
}

.learn-btn:hover {
    cursor: pointer;
    background-color: white;
    color: hsl(13, 100%, 72%);
}

.sub-text {
    font-size: 15px;
    color: hsl(207, 13%, 34%);
    line-height: 1.7;
}



p {
    font-family: "Overpass", serif;
    font-weight: 300;
}

.body {
    width: 100%;
    height: 400px;
    /* position: absolute; */
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    background: linear-gradient(to right,hsl(237, 17%, 21%),  hsl(237, 23%, 32%));
    /* background-color: transparent; */
}

.sub-body {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../assets/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 980px;
    background-position-y: -500px;
    background-position-x: -215px;
    position: relative;
    color: white;
    
}
.body-text{
    font-size: 15px;
    color: white;
    line-height: 1.7;
}